
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>edit message</title>
    </head>
    <body>
    <form action="save" method="post">
    
        <b><font size="2">subject: </font></b><br/>
        <input type="text" value=""  style="width:240px" name="subject"/><br/>
        <b><font size="2">author: </font></b><br/>
        <input type="text"  style="width:240px" name="sender"/><br/>
        <b><font size="2">edit content: </font></b><br/>
        <textarea rows="5" cols="50" style="width:240px" name="text"></textarea><br/>
        <input type="submit" value="send">
    </form>
    <hr/>
    <a href="/"><font size="2">first</font></a>
    </body>
    </html>
    